
\.idea/

__pycache__/

data/models/INJ/D_model\.h5

data/models/INJ/equalization\.pkl

data/models/INJ/G_model\.h5

data/models/INJ/normalization\.npy

data/models/REM/G_model_data_32_ben_diam-gt-14_cleaned_rot\.np_cgan2_01_cleandata_cancerRem2\.h5

data/unhealthy_coords\.csv

data/unhealthy_samples\.npy

images/injector/
